DATABASE_URL=postgresql://postgres:truancycloud@127.0.0.1:5433/mydb?schema=public
NEXTAUTH_SECRET=change-me-to-a-random-string
NEXTAUTH_URL=http://localhost:3000
RESEND_API_KEY=re_iruxHtiM_9fEXsLVCD5iCA8zhw6GAqfbE